@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-3">
	<h1 class="display-4">Welcome to the Contract Monthly Claim System</h1>
</div>

<main class="container mt-2">
	<div class="p-5 bg-light rounded shadow-sm">
		<section class="mb-4">
			<p class="lead">This is a Claims Management System for Independent Contractors, simplifying the process of submitting and approving monthly claims.</p>
		</section>

		<section class="mb-4">
			<h2 class="h3">Key Features</h2>
			<ul class="list-group">
				<li class="list-group-item">Submit your Claims Easily</li>
				<li class="list-group-item">Uploading Supporting Documents</li>
				<li class="list-group-item">Managing Pending Claims</li>
				<li class="list-group-item">Status Updates and Notifications</li>
			</ul>
		</section>

		<div class="text-center">
			<a href="@Url.Action("Login", "Login")" class="btn btn-primary">Login</a>
		</div>

	</div>
</main>


