@model IEnumerable<CMCS.Models.Claim>

<h2>Your Claims</h2>

<table class="table">
    <thead>
        <tr>
            <th>Claim ID</th>
            <th>Date Submitted</th>
            <th>Status</th>
            <th>Supporting Documents</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in Model)
        {
            <tr>
                <td>@claim.ClaimID</td>
                <td>@claim.SubmittedDate.ToString("dd/MM/yyyy")</td>
                <td> Id = "status-claim.ClaimID>@claim.Status</td>
                <td>
                    <a href="@Url.Content(claim.SupportingDoc)">View Document</a>
                </td>
            </tr>
        }
    </tbody>
</table>







}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
